<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youthclub_events">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feedbackObserveActivity" />
        <activity android:name=".pastEventsActivity" />
        <activity android:name=".eventsInProgressActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventListActivity"
            android:label="@string/eventlist"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".startEventActivity"
            android:label="@string/start_event"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".createEventActivity"
            android:label="@string/create_event"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".loginActivity"
            android:label="@string/login"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerActivity"
            android:label="@string/register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".editEventActivity"
            android:label="@string/edit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fullEventInfoActivity"
            android:label="Event info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".profileActivity"
            android:label="Profile"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>